.container {
  margin: auto;
  background-color: white;
  width: 90%;
}

.list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.individuals {
  min-width: 130px;
  width: 250px;
  text-align: start;
  margin-left: 1rem;
  margin-right: 1rem;
}

.twoItems {
  display: flex;
  align-items: center;
}

.twoItems p {
  margin-right: 5px;
}

.CoinLink {
  text-decoration: none;
}

.supply {
  line-height: 0;
}

.logo-img {
  height: 30px;
  width: auto;
}

.red {
  color: red;
}

.green {
  color: green;
  margin-left: 5px;
}
