.coinlist-container {
  display: flex;
}

.twoItems {
  padding-left: 15px;
  border-bottom: 1px solid lightgray;
  height: 70px;
}

.coinmetric-container {
  overflow-x: scroll;
}
.all-labels-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid lightgray;
  height: 70px;
}

.label {
  min-width: 250px;
  max-width: 350px;
  text-align: start;
  margin-left: 1rem;
}
