.container {
  background-color: white;
  width: 100%;
}

.listitems-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid lightgray;
  height: 70px;
}

.individuals-container {
  display: flex;
}

.individual-metrics {
  min-width: 250px;
  max-width: 350px;
  text-align: start;
  margin-left: 1rem;
}

.twoItems img {
  margin: 5px;
}

.twoItems p {
  overflow-wrap: break-word;
}

.CoinLink {
  text-decoration: none;
}

.supply {
  line-height: 0;
}

.logo-img {
  height: 30px;
  width: auto;
}

.red {
  color: red;
}

.green {
  color: green;
  margin-left: 5px;
}
