.container {
  margin: auto;
  background-color: white;
  width: 95%;
}

.list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  width: 100%;
}

.individuals {
  min-width: 130px;
  width: 250px;
  text-align: start;
  margin-left: 1rem;
  margin-right: 1rem;
}
.url {
  overflow-wrap: break-word;
}

.twoItems {
  display: flex;
  align-items: center;
}

.twoItems p {
  margin-right: 5px;
}

.CoinLink {
  text-decoration: none;
}

.supply {
  line-height: 0;
}

.logo-img {
  height: 30px;
  width: auto;
}

.stickyTop {
  background-color: #fffff0;
  color: black;
  width: 95%;
  margin: auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.labels {
  min-width: 130px;
  width: 250px;
  text-align: start;
  margin-left: 1rem;
  margin-right: 1rem;
}

.labels h3 {
  font-size: 1rem;
}
