.overFlow {
  overflow-x: scroll;
}

.container {
  margin: auto;
  background-color: white;
  width: 100%;
}

.list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  width: 100%;
}
.individualUrl {
  min-width: 300px;
  max-width: 320px;
  overflow-wrap: break-word;
  text-align: center;
}

.individuals {
  width: 200px;
  text-align: start;
  margin-left: 2em;
  margin-right: 2em;
}

.rankYear {
  width: 200px;
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
}

.year {
  width: 200px;
  margin-left: 2em;
  margin-right: 2em;
  text-align: start;
}

.twoItems {
  width: 150px;

  text-align: start;
}

.twoItems p {
  margin-right: 8px;
}

.logo-img {
  height: 50px;
  width: auto;
}
