.stickyTop {
  color: black;
  width: 100%;
  margin: auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.labels {
  min-width: 130px;
  width: 250px;
  text-align: start;
  margin-left: 1rem;
  margin-right: 1rem;
}

.twoItems {
  min-width: 200px;
  width: 250px;
  text-align: start;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.twoItems h3 {
  font-size: 1rem;
}

.labels h3 {
  font-size: 1rem;
}
