.stickyTop {
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 90vw;
}

.labels {
  min-width: 130px;
  width: 250px;
  text-align: start;
  margin-left: 1rem;
  margin-right: 1rem;
}

.labels h3 {
  font-size: 1rem;
}
